.status {
	font-size: 12px;
	vertical-align: middle;
}

.table tbody > tr > td{
    vertical-align: middle;
}

.searchBar, .addTicketBtn, .radion-box {
	margin-bottom: 20px;
	margin-top: 20px;
}

.radion-box .btn span.glyphicon {    			
	opacity: 0;				
}

.radion-box .btn.active span.glyphicon {				
	opacity: 1;				
}

.assignedTicketsTable-container {
	width: 100%;
	height: 220px;
	overflow-y: scroll;
}

.user-avatar {
	width: 100px;
	height: 100px;
}

.ticketsStatisticsChart {
	width:200px;
	height:200px;
<<<<<<< HEAD
	position:absolute;
	bottom:50px;
=======
	margin-top: 100px;
	position:absolute;
	bottom:70px; 
>>>>>>> 3611e4b3dcf10afa1c903082f997d9a03bad8465
	right: 0;
}

.myChart {
	width: 100px;
	height: 100px;
}

.table-container {
	width: 100%;
	height: 250px;
	overflow-y: scroll;
}
