<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<title>GCT - Access denied</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/403.css}" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	</head>
	
	<body>
		
		<div class="container">
			<h1>Access Denied !</h1>
			<a class="waves-effect waves-light btn-large center-align" th:href="@{/}">Come back Home</a>
		</div>
		
	</body>

</html>