<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>GCT - Login</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/login.css}"  />
</head>
<body>

	<img th:src="@{/images/GCT-logo.svg}" style="position: absolute; top: 10%; left: 10%;" />	

   	<div class="container container-table login-container">
	    <div class="row vertical-center-row">
	        <div class=" col-md-4 col-md-offset-4">
	        	<div class="panel panel-default thymbnail login-box">
					<div class="panel-body">
						<form th:action="@{/login}" method="post">
							<div class="alert-success alert">
								<div th:if="${param.error}" class="text-danger form-group">
									Invalid email or password !!!
								</div>

								<div th:if="${param.logout}" class="text-success form-group">
									You have been logged out
								</div>
							</div>
							
							<div class="form-group">
								<label>Address mail</label>
								<input type="text" name="username" class="form-control" value="" />
							</div>
							<div class="form-group">
								<label>Password</label>
								<input type="password" name="password" class="form-control" value="" />
							</div>
							<div class="text-center"><button type="submit" class="btn btn-primary">Se connecter</button></div>
						</form>
					</div> <!-- end panel-body -->
				</div> <!-- end panel -panel-default -->
	        </div> <!-- end col-md-4 -->
	    </div> <!-- end row vertical-center-row -->
	</div> <!-- end container-table -->

</body>
</html>